
  
  .word-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .word_container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: max-content;
  }
  
  .word {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }

 
  
  .meanings strong {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .meanings ul {
    margin: 0;
    margin-left: 32px;
    line-height: 1.5;
    color: #555;
    list-style: numeric;
  }
  
  .synonyms strong {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .synonyms ul {
    padding-left: 20px;
    list-style: disc;
    display: flex;
    flex-wrap: wrap;
    color: #555;
  }
  
  .synonyms li {
    margin-bottom: 5px;
    margin-right: 25px;
  }
  
  .word-sentence {
    color: #555;
    font-style: italic;
  }

    .word-sentence strong {
        color: #333;
        font-style: normal;
    }

    .word-sentence ul {
        margin-left: 32px;
        padding: 0;
        list-style: lower-roman;

    }
  